
.logo {
    display: inline-block;
    background: url('../images/logo_cp_white_extra_small.png') 50% 50% no-repeat;
    background-size: contain;
    width: 48px;
    height: 30px;
    margin-top: 1rem;
}

.social-icon {
    padding: 0.7rem 1rem;
    display: inline-block;
    border-radius: 50%;
    border: 2px solid gray;
    margin-left: 0.5rem;
    margin-top: 0.5rem;

    i {
        color: gray;
    }

    &.facebook {
        padding: 0.7rem 1.3rem;
    }

    &:hover {
        border-color: $brand-primary;

        i {
            color: $brand-primary;
        }
    }
}

.hello-title {
    padding-top: 15rem;
    font-size: 38px;
    line-height: 1.3;
    color: #fff;
}

.hello-subtitle {
    color: gray;
    padding-bottom: 7rem;
    font-size: 22px;
    line-height: 1.5;
}

.subscription-title {
    color: white;
    font-weight: bold;
    margin-bottom: 1.5rem;
}

.btn-subscribe {
    background: $brand-primary;

    .btn {
        border: none;
        padding: 1rem 2rem;
        border-radius: 0;
    }
}

.main-row {
    background: lighten($body-bg, 15%);
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
    max-width: 1250px;
    margin: 0 auto;

    h1,
    .why-title {
        color: white;
    }

    &.monetization {
        background: lighten($body-bg, 10%);
    }
}

.features-image {
    width: 150px;
    height: 150px;
    background-color: white;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

.feature-item {
    padding: 50px;
    text-align: center;
}

.why-item {
    padding: 50px;
    text-align: left;
}

.why-title {
    padding-top: 20px;
    font-size: 18px;
}

.why-text {
    color: gray;
}

.border-button {
    color: white;
    background: none;
    border-color: white;
    border-width: 2px;
    min-width: 200px;
    margin: 20px;
}

.block-video iframe {
    margin: 50px auto;
    min-height: 500px;
}

.block-charts {
    padding: 100px 0;
}

.block-title {
    color: white;
}

.pie-chart {
    width: 260px;
    height: 260px;
    float: left;
}

.pie-chart-legend {
    float: left;
    padding-left: 60px;
}

.pie-chart-legend > ul {
    width: 150px;
    list-style: none;
    color: #fff;
    font-weight: bold;
    margin-top: 5px;
    padding: 0;
    font-size: 16px;
}

.pie-chart-legend > ul > li {
    padding-bottom: 25px;
    padding-left: 35px;
    position: relative;
}

.pie-chart-legend > ul > li:before,
.pie-chart-legend > ul > li:after {
    content: '';
    display: table;
    clear: both;
}

.pie-chart-legend > ul > li span {
    display: block;
    width: 14px;
    height: 14px;
    position: absolute;
    left: 0;
    top: 5px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

@media (max-width: 1199px) {
    .pie-chart-legend {
        padding-left: 40px;
    }
}

@media (max-width: 991px) {
    .pie-chart {
        margin: 0 auto;
        float: none;
    }
    .pie-chart-legend {
        padding-left: 0;
        float: none;
    }
    .pie-chart-legend ul {
        margin: 30px auto 0;
    }
    .block-charts .row > [class*="col-"]:first-child .pie-chart-legend {
        margin-bottom: 20px;
    }
}

@media (max-width: 767px) {
    .block-charts .row [class*="col-"]:first-child .pie-chart {
        margin-bottom: 50px;
    }
}

@media (max-width: 480px) {
    .block-charts {
        padding: 40px 0;
    }
}

.block-faq {
    padding: 100px 0;
}

.block-faq .block-title {
    margin-bottom: 50px;
}

.faq-item {
    border-bottom: 1px solid #313131;
    padding-top: 13px;
    padding-bottom: 13px;
}

.faq-item > h3 {
    cursor: pointer;
    font-size: 22px;
    font-weight: bold;
    color: white;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    user-select: none;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

.faq-item:not(.open) > h3:hover {
    color: $brand-primary;
}

.faq-item .faq-content {
    display: none;
    color: white;
}

.faq-item.open .faq-content {
    display: block;
}

.faq-item .faq-content p:last-child {
    padding-bottom: 10px;
}

@media (min-width: 768px) {
    .block-faq .row > [class*="col-"]:first-child {
        padding-right: 40px;
    }
    .block-faq .row > [class*="col-"]:last-child {
        padding-left: 40px;
    }
}

@media (max-width: 480px) {
    .block-faq {
        padding: 40px 0;
    }
    .block-faq .block-title {
        margin-bottom: 30px;
    }
    .faq-item > h3 {
        font-size: 18px;
    }
}

.team-image {
    width: 100%;
    max-width: 140px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

.team-item {
    text-align: center;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 80px;
}

.team-name {
    margin-top: 20px;
    color: white;
}

.team-info {
    color: gray;
}

.callout-holder .callout-text {
    visibility: hidden;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 10px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    font-size: 14px;
    position: absolute;
    z-index: 1;
    width: 250px;
    margin-left: -110px;
    margin-top: 10px;
    top: 100%;
    left: 50%;
}

.callout-holder:hover .callout-text {
    visibility: visible;
}

.callout-holder .callout-text::after {
    content: " ";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent black transparent;
}

.callout-holder .callout-text {
    opacity: 0;
    -webkit-transition: opacity .5s;
    transition: opacity .5s;
}

.callout-holder:hover .callout-text {
    opacity: 1;
}

.callout-holder-clubs .callout-text-clubs {
    visibility: hidden;
    background-color: #424242;
    color: #fff;
    text-align: center;
    padding: 10px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    font-size: 14px;
    position: absolute;
    z-index: 1;
    margin-left: -110px;
    margin-top: 10px;
    top: 100%;
    left: 50%;
}

.callout-holder-clubs:hover .callout-text-clubs {
    visibility: visible;
}

.callout-holder-clubs .callout-text-clubs::after {
    content: " ";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent #424242 transparent;
}

.callout-holder-clubs .callout-text-clubs {
    opacity: 0;
    -webkit-transition: opacity .5s;
    transition: opacity .5s;
}

.callout-holder-clubs:hover .callout-text-clubs {
    opacity: 1;
}

.club-item {
    text-align: center;
    padding: 10px;
}

.club-item .club-info {
    opacity: 0;
    -webkit-transition: opacity .5s;
    transition: opacity .5s;
}

.club-item:hover .club-info {
    opacity: 1;
}

.club-image {
    background-size: contain;
    width: 100%;
}

.club-info {
    background: rgba(5, 5, 5, 0.8);
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    top: 0;
    padding: 20px;
    text-align: left;
}

.club-name {
    font-size: 18px;
}

.club-address {
    font-size: 14px;
    color: gray;
    padding-top: 10px;
}

.slider-group {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    max-width: 90%;
    margin: auto;
    line-height: 130px;
}

.slider-group > div {
    max-width: 200px;
    min-height: 130px;
    margin: 0 5px;
}

.slider-group > div img {
    max-width: 180px;
    max-height: 120px;
}

.carousel-control {
    width: 5%;
}

.carousel-control.right,
.carousel-control.left {
    background-image: none;
}

.footer {
    padding: 100px 20px 0;
}

.footer-text {
    font-size: 12px;
    color: gray;
}

.p-0 {
    padding: 0 !important;
}

.text-white {
    color: white !important;
}

.text-black {
    color: black !important;
}
