.ok-alert {
    footer {
        position: fixed;
        bottom: 0;
        right: 0;
        left: 0;
    }

    #particles-js.auth-section {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 7rem;
        left: 0;
        padding: 0;
    }

    #login-register {
        height: 100% !important;
        margin: 0 !important;
        padding: 0 !important;

        .Aligner {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100%;
        }

        .Aligner-item {
            flex: none;
        }
    }
}